<div class="block">
  <div class="content">
    <h2 class="title">Logged out</h2>
    <div class="inner">
      <p>
        <%= link_to 'Login', new_session_path %>
      </p>
    </div>
  </div>
</div>
