<div class="block">
  <div class="content">
    <h2 class="title">New User</h2>
    <div class="inner">
      <%= render :partial => 'users/form', :locals => { :user => @user } %>
    </div>
  </div>
</div>
